.filter{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 17px;
    background: #333;
    padding: 7px;
}

.filter span{
    width: calc(50%+ 50px);   
    background-color: #127712;
    border-radius: 30px;
    padding: 5px;
    user-select: none;
}
.filter span:hover{
    scale: 1.2;
}
.filter span:active{
    background-color: #333;
}
